/* admin sidebar */
body {
    font-family:Arial;
    font-size:14px;
    background-color: #fff;
}
#menuwrapper{
    margin-top:20px;
}

#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}

#menuwrapper ul li{
    background-color:#fff;
    color: #333;
    width:auto;
    cursor:pointer;
    font-size: 14px;
    margin-right: 1px;
}

#menuwrapper ul li:hover{
    background-color:#6091B9;
    color: #fff;
    position:relative;
}

#menuwrapper ul li a{
 	color: inherit;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    width: 100%;
}

/**** SECOND LEVEL MENU ****/
#menuwrapper ul li ul{
    position:absolute;
    display:none;
}

#menuwrapper ul li:hover ul{
    left:235px;
    top:0px;
    display:block;
    width: 250px;
    z-index: 999;
}

/**** THIRD LEVEL MENU ****/

#menuwrapper ul li:hover ul li ul{
    position:absolute;
    display:none;
}

#menuwrapper ul li:hover ul li:hover ul{
    display:block;
    left:150px;
    top:0;
}

#menuwrapper ul li:hover ul li:hover ul li{
    background:#86d3fa;
}

#menuwrapper ul li:hover ul li:hover ul li:hover{
    background:#358ebc;
}

#menuwrapper ul li:hover ul li:hover ul li a{
    color:#ffffff;
}

.clear{
    clear:both;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
    background-color: #fff;
}

/* admin header */

.page-header.navbar {
    background-color: #132634;
}

.page-header.navbar {
    height: 70px;
}

.page-header-fixed .page-container {
    margin-top: 70px;
}
.page-content{
    border-left: solid 1px #aaa;
}
.nav>li>a{
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: 0;
}
.info-block{
    background: #FAFAFA;
}
.info-block .field{
    display: flex;
}
.info-block .label-text{
    display: inline-block;
    max-width: 100%;
}
.info-block .value-text{
    display: inline-block;
    text-align: right;
    width: 100%;
    font-weight: 700;
}